<div class="container">
  <h1>
    What is a planet?
  </h1>
  <div class="description">

    <p>A planet is a large, round astronomical body that orbits a star.
      Planets are not stars because they do not generate their own heat and light.
      They are also not comets or asteroids, which are smaller and less massive than planets.</p>
    <p>There are eight planets in our solar system: Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune.
      The planets are divided into two main categories: terrestrial planets and gas giants.</p>
    <p>The terrestrial planets (Mercury, Venus, Earth, and Mars) are made up of rock and metal.
      They are located closer to the sun than the gas giants. The gas giants (Jupiter, Saturn, Uranus, and Neptune)
      are made up mostly of gas and liquid hydrogen and helium. They are located farther from the sun than the
      terrestrial
      planets.</p>
    <p>Planets are formed from the same material that stars are formed from. However,
      planets do not have enough mass to start nuclear fusion, which is the process that powers stars.</p>
    <p>Planets are fascinating objects that have been studied by scientists for centuries. They are home to a wide
      variety
      of life, and they continue to be a source of wonder and exploration.</p>
  </div>
</div>